

.register{
    width:80%;
    margin:0 auto;
}
.submit{
    text-align: center;
    width: 100%;
}
.submit a{
    display: inline-block;
    width: 200px;
    background-color: #656565;
    opacity: 0.85;
    padding: 15px;
    color: #fff;
    letter-spacing:15px;
    text-indent:15px;
    text-align:center;
}
.submit a:hover {
    opacity: 0.8;
    letter-spacing: 17px;
    text-indent: 17px;
    background-color: #828282;
    transition: ease-in 0.2s;
}



/**
*
*
* タイトル
*
*/
.fonts h2 {
    text-align: center;
    letter-spacing: 8px;
    font-size: 40px;
    margin-bottom: 80px;
    color: #656565;
    position: relative;
}
.fonts h2::after {
    content: '';
    display: block;
    width: 50px;
    background: #656565;
    height: 3px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -25px;
}

.fonts h2:nth-child(n+1) {
    margin-top: 50px;
}
/*
*   詳細ページのテーブル用
*
*
*/
img{
    max-width:100%;
    height:auto;
}

#table {
    width:100%;
    margin:0 auto;
    margin-bottom: 50px;

}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#table th {
    background-color: rgba(255,255,255,0.4);
    text-align: center;
    padding: 10px 0;
    color: #656565;
    letter-spacing: 2px;
}
#table td {
    vertical-align: middle;
    text-align: center;
    background-color: rgba(100,100,100,0.1);
    border: solid 2px #eee;
    padding: 5px;
    color:  #656565;
}
.font_left{
    text-align: left;
}


/* 更新時　*/
#table td.update{
    /* background-color: powderblue; */
    background-color: palegoldenrod;
    opacity:0.7;
}
#table td.update:hover{
    opacity:0.9;
}

/* 更新メッセージ */
.update-message{
    width: 70%;
    text-align: center;
    background-color: yellowgreen;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-style: dashed;
    border: 1px solid rgba(200,200,200,0.5);
    border-radius: 4px;
    font-size: 2em;
    color: white;
    letter-spacing: 0.5em;
    text-indent: 0.5em;

    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: slidein;
    -moz-animation-name: slidein;
    -o-animation-name: slidein;
    animation-name: slidein;
}


@media screen and (max-width: 470px) {
    .submit a{
        width: 150px;
    }
    .update-message{
        font-size:1em;
        letter-spacing:0.3em;
        text-indent:0.3em;
        padding-top:10px;
        padding-bottom:10px;
        margin-bottom:20px;
    }
}