.container .wrap {
    padding: 80px 10px;
    width: 100%;
}
.container h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.campaignBox{
  display: block;
  width: 100%;
}
.campaignBox h1{
  font-size: 30px;
}
.campaignBox li{
  display: inline-block;
  width: 45.833333333%;
  margin: 10px;
}
.campaignBox .image{
  width: 300px;
  margin-left: 50px;
}
.title h1{

}
.box{

}
