.container .wrap {
    padding: 80px 10px;
}

.container h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}


/*よくある質問*/

#faq,
#faq tbody,
#faq tr,
#faq td {
    width: 100%;
    display: block;
}

#faq .title {
    background: #444;
    color: #fff;
    border-bottom: solid 0px;
    padding: 8px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

#faq .answer {
    padding: 18px 8px;
    font-size: 18px;
    background-color: #ffffff;
}

#faq td {
    border: solid 1px #ccc;
    box-sizing: border-box;
}


/*個人情報保護方針*/

.policy {
    border-radius: 15px;
    margin: 20px 0;
    background: #eff5f6;
    border: 5px solid #e5eeef;
    padding: 20px;
}

.policy ul li {
    list-style: outside decimal;
    line-height: 140%;
    margin: 10px 0 0 0;
}

.policy ul li ul li ol li {
    list-style: outside lower-roman;
    margin-left: 20px;
    text-indent: -0.2em;
}

.policy ul li ul li {
    list-style: outside none;
    margin-left: 20px;
}

.policy .child li {
    list-style: outside none;
    margin-left: 45px;
    text-indent: -1.7em;
}

.policy p {
    margin: 20px 0;
    line-height: 140%;
    text-align: justify;
}

.terms {
    border-radius: 15px;
    margin: 20px 0;
    background: #eff5f6;
    border: 5px solid #e5eeef;
    padding: 20px;
}

.terms ul li {
    list-style: outside decimal;
    line-height: 140%;
    margin: 10px 0 0 0;
}

.terms ul li ul li ol li {
    list-style: outside lower-roman;
    margin-left: 20px;
    text-indent: -0.2em;
}

.terms ul li ul li {
    list-style: outside none;
    margin-left: 20px;
}

.terms .child li {
    list-style: outside none;
    margin-left: 45px;
    text-indent: -1.7em;
}

.terms p {
    margin: 20px 0;
    line-height: 140%;
    text-align: justify;
}

/*お問い合わせフォーム*/




/*管理者ログイン画面*/

#login_body {
    width: 100%;
    height: 100%;
    text-align: center;
}

#login_body h2 {
    margin-top: 80px;
}

#login_border {
    border: 1px solid #aaa;
    width: 400px;
    height: auto;
    margin: 150px auto auto auto;
}

#login_inner {
    margin: 10px;
}

#login_button {}


/*注文確認画面*/

#tablewrap {
    margin-top: 100px;
}

#title h1 {
    margin: 30px 30px;
    padding: 10px;
    border-bottom: medium solid black;
}


/*メニュー編集画面*/

#menuedit_button {
    text-align: center;
}

#menuadd label {
    margin-right: 30px;
    width: 100%;
    float: left;
}

/*メニュー追加画面*/

.form-price {
    width: 25%;
}
