.container .wrap {
    padding: 80px 10px;
}

.container h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}


#faq,#faq tbody,#faq tr , #faq td {
  width: 100%;
  display: block;
}

#faq .title {
  background: #444;
  color: #fff;
  border-bottom: solid 0px;
  padding: 8px;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}
#faq .answer {
  padding: 18px 8px;
  font-size: 18px;
  background-color: #ffffff;

}
#faq td {
    border: solid 1px #ccc;
    box-sizing: border-box;
}
