img {
    max-width: 100%;
}

main.main {
    padding: 50px 0;
}

.container h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 10px;
}

#menu_button {
    margin-bottom: 60px;
}

.menu_wrap {
    max-width: 500px;
    margin: 0 auto;
}

.menu_wrap li {
    margin-bottom: 20px;
}

.table {
    font-size: 12px;
}

.table th {
    background-color: #5a5a5a;
    color: #fff;
    letter-spacing: 2px;
    border-bottom: none !important;
    font-weight: normal;
}

.navbar {
    margin-bottom: 0;
}

tr.link {
    cursor: pointer;
}

tr.link:hover{
    background-color: #efefef;
}

.ma {
    margin: o auto;
}

.mt {
    margin-top: 20px;
}

.mt-b {
    margin-top: 100px;
}

.ml {
    margin-left: 20px;
}

.mr {
    margin-right: 20px;
}

.mb {
    margin-bottom: 20px;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 15px 8px;
    vertical-align: middle;
}
.table>tbody>tr>th, .table>tfoot>tr>th{
    vertical-align: middle;
}
.th-50{
    width:50%;
}

.cap,
.caption {
    background: none;
    color: #666666;
    font-size: 10px;
    line-height: 15px;
}
.cap {
    padding-top: 5px;
}
