main.main {
    padding: 50px 0;
}

.container h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

#menu_button {
    margin-bottom: 60px;
}

.menu_wrap {
    max-width: 500px;
    margin: 0 auto;
}

.menu_wrap li {
    margin-bottom: 20px;
}
