.wrap {
  width: 960px;
}
.title {
  font-size: 20px;
  padding: .25em 0 .5em .75em;
	border-left: 6px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.table {
  border: 2px #d9d9d9 solid;;
  margin-bottom: 5px;
  padding: 10px 20px 10px 20px;
  display: block;
}
.td_head {
  background-color: #a8a8a8;
  text-align: right;
  padding: 8px;
  white-space: nowrap;
  color: #ffffff;
  font-weight: bold;
  font-size: 17px;

}
.td_detail {
  background-color: #f7f7f4;
  text-align: left;
  padding: 8px;
  border: 1px solid #d6d6cd;
  font-size: 15px;
  line-height: 20px;
}
.access {
  font-size: 20px;
  padding: .25em 0 .5em .75em;
	border-left: 6px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.ggmap {
position: relative;
margin-bottom: 20px;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
