/*新規会員登録*/

.example {
    font-size: 14px;
    color: #7f7f7f;
    height: 50%;
    margin-top: 5px;
    margin-left: 15px;
}

.red {
    color: #FF0000;
}

.w17 {
    width: 17%;
}

.w24 {
    width: 24%;
}

.w29 {
    width: 29%;
}

.title {
    letter-spacing: 3px;
}


/*確認*/

.regist_confirm th {
    width: 25%;
}