.campaign {
    letter-spacing: -.4em;
    text-align: left;
}

.campaign li{
    margin: 2%;
    display: inline-block;
    width: 45.833333333%;
}

.container .wrap {
    padding: 80px 0;
}

@media screen and (max-width: 768px) {
    .campaign {
        text-align: center;
    }

    .campaign li {
        display: block;
        width: auto;
        margin-bottom: 20px;
    }
}

.ranking {
    position: relative;
}

.rank {
    position: absolute;
    font-size: 1.5em;
}
