.container .wrap {
    padding: 80px 10px;
    width: 100%;
}

.container h2 {
    text-align: center;
    letter-spacing: 8px;
    font-size: 40px;
    margin-bottom: 80px;
    color: #656565;
    position: relative;
}

.container h2::after {
    content: '';
    display: block;
    width: 50px;
    background: #656565;
    height: 3px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -25px;
}

#contact {
    padding: 50px 20px;
    box-sizing: border-box;
}

#main .error {
    text-align: right;
    padding: 15px;
}

#main .error li{
    background-color: #b73b3b;
    color: #eee;
    font-size: 15px;
    padding: 15px;
    margin: 10px 0;
    max-width: 400px;
    display: inline-block;
}

#contact,
#contact form {
    width: 100%;
    display: block;
    background-color: #C8C8C8;
    text-align: -webkit-center;
}

#contact .form-group {
    font-size: 18px;
}

#contact label {
    font-size: 20px;
}


#contact #from-group li.title {
    background-color: #464646;
    padding: 10px;
    font-size: 15px;
    color: #eee;
}


#contact #from-group textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border:0;
    font-size:1.3em;
    font-family:Arial, sans-serif;
    color:#1c1c1c;
    border:solid 1px #ccc;
    margin: 0 0 35px;
    box-sizing: border-box;
    padding: 10px;
}

#contact #from-group button {
    margin-top: 10px;
}

#contact .form-bottom {
    display: inline-block;
    width: 250px;
    font-size: 15px;
    cursor: pointer;
}

#contact .form-bottom a {
    display: block;
    padding: 20px;
    color: #fff;
    background-color: #424242;
    letter-spacing: 10px;
    transition: ease-in 0.2s;
    border: solid 1px #424242;
    text-indent: 10px;
}

#contact .form-bottom a:hover {
    opacity: 0.8;
}



input.form-mail {
    width: 100%;
    border: 0;
    padding: 10px 0;
    font-size: 1.3em;
    font-family: Arial, sans-serif;
    color: #1c1c1c;
    border: solid 1px #ccc;
    margin: 0 0 35px;
    box-sizing: border-box;
    padding: 10px;
}

#complete {
    text-align: center;
}

#complete .inner {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 5px;
    background-color: #c1c1c1;
    color: #000000;
    padding: 60px;
}

#complete i {
    font-size: 125px;
    margin-bottom: 30px;
}
