
#cart.wrap {
    padding: 100px 0;
}

h2 {
    text-align: center;
    letter-spacing: 8px;
    font-size: 40px;
    margin-bottom: 80px;
    color: #656565;
    position: relative;
}
h2::after {
    content: '';
    display: block;
    width: 50px;
    background: #656565;
    height: 3px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -25px;
}

#table {
    margin-bottom: 50px;
}

#table th{
    background-color: #424242;
    text-align: center;
    padding: 10px 0;
    color: #eee;
    letter-spacing: 2px;
}

#table th:nth-child(1) {
    width: 25%;
}

#table th:nth-child(2) {
    width: 15%;
}

#table th:nth-child(3) {
    width: 25%;
}

#table th:nth-child(4) {
    width: 10%;
}
#table th:nth-child(5) {
    width: 10%;
}
#table th:nth-child(6) {
    width: 10%;
}
#table th:nth-child(7) {
    width: 5%;
}

#table td{
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
    border: solid 2px #eee;
    padding: 5px;
}

#table td:nth-child(3) {
    text-align: left;
    line-height: 1.5;
}

.btn span {
    position: relative;
    display: inline-block;
    width: 45px;
    border: solid 1px #bfbfbf;
    background-color: #fff;
    vertical-align: top;

}
.btn span:after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 5px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #424242;
}
.btn option,
.btn select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    text-indent: 1em;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.total {
    text-align: right;
}

.total p {
    display: inline-block;
    font-size: 20px;
    position: relative;
}

.tablebox,.tablebox tbody,.tablebox tr{
    width: 100%;
}

.tablebox tr td:first-child {
    width: 20%;
    padding: 15px 10px;
    text-align: center;
    background-color: #888;
    color: #eee;
    letter-spacing: 2px;
}


.empty {
    text-align: center;
}

.empty .inner {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 5px;
    background-color: #c1c1c1;
    color: #000000;
    padding: 60px;
}

.empty i {
    font-size: 125px;
    margin-bottom: 30px;
}

.btn {
    text-align: center;
    margin-top: 50px;
}
.btn .inner {
    display: inline-block;
    width: 200px;
    font-size: 15px;
}

.btn .inner a {
    display: block;
    padding: 20px;
    color: #fff;
    background-color: #424242;
    letter-spacing: 5px;
    transition: ease-in 0.2s;
    border: solid 1px #424242
}

.btn .inner a:hover {
    letter-spacing: 6px;
    opacity: 0.8;
}

.btn .inner.special {
    margin-right: 2%;
}

.btn .inner.special a {
    background-color: #fff;
    color: #424242;
    box-sizing: border-box;
}

.clear.btn {
    text-align: right;
    margin-bottom: 50px;
}

.clear.btn a {
    text-align: center;
    background-color: #888888;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
